@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block {
  /* background: -webkit-linear-gradient(left, #a7a5c7, #020a24); */

  
  width: 100%;
  /* padding: 50px 0; */
} 
.banner-sec {


  background:url("../resources/0a3b0d36-b78c-47d6-afcb-3f4fa2003af4.jpeg") no-repeat left bottom; 
   /* url(https://scontent.fcai20-6.fna.fbcdn.net/v/t1.6435-9/53117829_349679565758321_4213667945953361920_n.png?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=j-U-MHNpodYAX90yO55&_nc_ht=scontent.fcai20-6.fna&oh=00_AT_7f-mXBuar09F2w0AVxKJS5Hcl6IqWpMm5WovJnw7U5Q&oe=6236259A) */ 
    /* no-repeat left bottom; */
  background-size: cover;
  min-height: 600px;
  border-radius: 0 10px 10px 0;
  padding: 0;


}
.container {
  background: #fff;
  border-radius: 10px;
  margin-left: 10em;
  box-shadow: 15px 20px 0px rgba(0.1, 0.1, 0.1, 0.1);
}
/* .carousel-inner {
  border-radius: 0 10px 10px 0;
} */
/* .carousel-caption {
  text-align: left;
  left: 5%;
} */
/* .login-sec {
  padding: 50px 30px;
  position: relative;
} */
#inputs {
  color: "white";
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec .copy-text i {
  color: #efb533;
}
.login-sec .copy-text a {
  color: #efb533;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #efb533;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #efb533;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
}
#msg {
  color: #de6262;
  font-family: cursive;
}
#btn {
  color: #fcf5f5;
  background-color: #de6262;
}
