.list{
    list-style: none;
}

.bg{
    background-color: rgb(34, 33, 33);
    color: white;

}
.font{
    color: rgb(238, 178, 43)
}
#card{
    background-color: black;
    color: aliceblue;
    
    }
#body{
    background-image: url("../media/carbon.jpg");
    background-size: cover norepeat ;


}


.hr{
    width:100px;
    margin-left: auto;
    margin-right: auto;

}

.card{
    background-color: black;
}