@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("https://cdn.syncfusion.com/ej2/material.css");
.login-block {

  float: left;
  width: 100%;
  padding: 50px 0;
}
.banner-sec {
  background:url("../resources/0a3b0d36-b78c-47d6-afcb-3f4fa2003af4.jpeg") no-repeat left bottom; 

  background-size: cover;
  min-height: 600px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0.1, 0.1, 0.1, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec .copy-text i {
  color: #efb533;
}
.login-sec .copy-text a {
  color: #efb533;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #efb533;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #efb533;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
/* .btn-login {
  background: #b84343;
  color: rgb(7, 1, 1);
  font-weight: 600;
} */
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
}
#msg {
  color: #de6262;
  font-family: cursive;
}
#optional {
  color: #de6262;
}
